<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.video.trimmer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.video.trimmer.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.VideoToAudioConverter"
        tools:replace="android:supportsRtl">
        <activity android:name="com.video.trimmer.activities.AddAudioExo" />
        <activity android:name="com.video.trimmer.activities.AudioTrimmerActivity2" />
        <activity android:name="com.video.trimmer.activities.ImagesToVideoActivity" />
        <activity android:name="com.video.trimmer.activities.ImagesActivity" />
        <activity android:name="com.video.trimmer.activities.AddAudioActivity" />
        <activity android:name="com.video.trimmer.activities.videoInfo" />
        <activity android:name="com.video.trimmer.activities.SettingsActivity" />
        <activity
            android:name="com.video.trimmer.activities.OutputsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.VideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.AudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.OutputFolderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.VideosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.video.trimmer.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.ActivitySelectLanguage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.trimmer.activities.TrimmerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.video.trimmer.activities.VideoTrimmerActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"


            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"

                />
        </provider>
        <service android:name="com.video.trimmer.utils.EncodingService"/>
    </application>

</manifest>