<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.recycleright">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logotext"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.RecycleIt">
        <activity
            android:name=".FinalActivity"
            android:exported="false" />
        <activity
            android:name=".GetTimeAndDate"
            android:exported="true" >

        </activity>
        <activity
            android:name=".InsertLocation"
            android:exported="true">

        </activity>
        <activity
            android:name=".QuantityInfo"
            android:exported="false" />
        <activity
            android:name=".MaterialSelection"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>